<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <h1>Котофей Семен</h1>
</head>
<body>
<img src="https://sun9-84.userapi.com/impg/5LFB-w1KS4fP2IcMa-AE_ClrIBohAy46H9jWvg/-abmIa2Gw8k.jpg?size=1000x1000&quality=95&sign=4e0f9046d2f0b38b4ffc281ac052f1b0&type=album" width="200" height="200" />
<p>
    Привет, я <a href="vk.com/salim1869">кот,</a> а это моя страничка!<br>
    На ней я буду выкладывать <del>своои стихи</del> свой код на GitHub<br>
    Еще тут вы можете найти мои рисунки<br>
    Сразу <ins>скажу</ins>, рисунки у меня <em>так себе</em>, <mark>потому что у меня лапки</mark>
</p>
</body>
</html>